body,h1,h2,h3,h4,h5, p {
    margin: 0; 
    padding: 0;
    font-family: 'MontSerrat';
}

.container {
    height: 100%;
    padding: 3%;
}

.curriculum{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    background-color: white;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.1);
}
main {
    padding: 40px 20px;
    width: 100%;
}
aside {
    width: 400px;
    background-color: rgb(11, 70, 88);
    padding: 40px 20px;
    color: white;
}
.aside-title {
    font-size: 1.3rem;
}
.aside-item {
    font-size: .9rem;
}
aside > div > p {
    font-size: 1.3rem;
}
ul {
    padding: 0;
}
ul > li {
    margin: 5px 0px;
}
.aside-box > ul > li {
    list-style-type: none;
}
.aside-box > li {
    margin: 5px 0;
}

 a {
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
.basicos {
    display: flex;
    justify-content: space-between;
}

.nome > h1 {
    font-size: 3rem;
}
.nome > h5 {
    margin: 10px 0px;
    font-weight: lighter;
}
.infos {
    text-align: right;
}
.infos > h5 {
    font-weight: lighter;
    margin: 10px 0px;
}
.title {
    margin: 15px 0px;
    font-size: 1.7rem;
    font-weight: 600;
}
.list-item {
    margin: 10px 0px;
    font-weight: 400;
}
.descricao {
    color: #777;
    font-size: .9rem;
    font-family: 500;
}

.business{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
}

.business > h4 {
    margin: 5px 0px;
}
#empresa {
    color: rgb(11, 70, 88);
}
#timeInBusiness {
    color: red;
}