body,h1,h2,p,input  {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'MontSerrat';
}

header { 
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #E0335E;
}

header > h1, p { 
    color: white;
    max-width: 800px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

/* form terá 4 colunas 1fr representa uma fração */
form {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
label {
    margin: 5px 0px;
    color:#E0335E;
    font-weight: bold;
}
input, select {
    padding-left: 5px;
    border: none;
    height: 40px;
    background-color: white;
    color: #E0335E;
    border: 1px solid #E0335E;
    width: 100%;
    border-radius:8px;
    transition: all .4s;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}

/* tirando a borda padrão dos inputs */
input:focus{
    outline: none;
}

textarea {
    color: #E0335E;
    width: 100%;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: left;
    border: none;
    resize: none;
    border: 1px solid #E0335E;
}

/* o nosso sistema de grid, lembrando que cada span corresponde a uma coluna da nossa grid */
.full {
    grid-column: span 4;
}
.tree {
    grid-column: span 3;
}
.two {
    grid-column: span 2;
}

.one {
    grid-column: span 1;
}

#title {
    font-weight: bold;
    font-size: 4.2rem;    
    margin: 10px 0px;
}
#descript {
    font-size: 1rem;
}

.btn {
    padding: 10px 50px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 50px;
}
.btn:hover {
    transition: .4s ease-in-out;
    cursor: pointer;
}
.btn:focus{
    outline: none;
}

.doIt {
    margin: 20px 0px;
    border: 1px solid white;
    color: white;
}
.doIt:hover {
    color: #E0335E;
    background-color: white;
}
.submit {
    border: 1px solid #E0335E;
    color: #E0335E;
    margin: 10px 0px;
    margin: 0 auto;
}
/* Quando passar o mouse por cima, o botão mudará a sua cor de fundo */
.submit:hover{
    background-color: #E0335E;
    color: white;
}

fieldset{
    border: none;
}

fieldset > legend {
    font-size: 2rem;
    font-weight: bold;
}
.box-fieldset{
    display: grid;
    justify-self: flex-start;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box-input {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
